{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<section class="py-5 mx-auto">
		<div class="container px-5 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-start">
				<div
					class="col-md-4">
					<!-- Titre Categories en haut et aligné à gauche -->
					<h2 class="mb-4">Categories</h2>
					<ol>
						<!-- Catégories en colonne -->
						{% for category in categories %}
							<li>
								<a target="_blank" href="{{ path('app_category', {'id': category.id}) }}">{{ category.name }}</a>
							</li>
						{% endfor %}
					</ol>
				</div>
				<div class="col-md-8">
					<div class="col-md-6">
						<h2 class="mb-4">On discount</h2>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for key, promoted in promotion %}
									<div class="carousel-item {% if key == 0 %}active{% endif %}">
										<img class="d-block w-100 h-80" src="{{ asset('uploads/images/' ~ promoted.image) }}" alt="Slide {{ key }}">
										<p class="text-center text-danger font-weight-bold">{{ promoted.discount }}%</p>
									</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev bg-light" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next bg-light" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
	<div class="container px-4 px-lg-5 mt-5">
		<h2 class="fw-bolder mb-4">Related products</h2>
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

			{% for product in products|slice(0, maxProductsToDisplay) %}
				<div class="col mb-5">
					<div
						class="card h-100">
						<!-- Product image-->
						<img
						class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Product Image" style="object-fit: cover; width: 100%; height: 300px;"/>
						<!-- Product details-->
						<div class="card-body p-4">
							<div
								class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">
									<h5>{{ product.name }}</h5>
								</h5>
								<!-- Product price-->

								<!-- Product discount -->
								{% if product.discount != null %}
									<!-- Display the original price crossed out // Afficher le prix d'origine barré -->
									{% set originalPrice = product.price / (1 - product.discount / 100) %}
									<span style="text-decoration: line-through;">{{ originalPrice|number_format(2, '.', ' ') }}
										€</span>
									<br><span class="text-danger">-{{ product.discount|number_format(0, '.', ' ') }}%</span>
								{% endif %}
								<!--  Display the price after reduction // Afficher le prix après réduction-->
								<br><span>{{ product.price }}€</span>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_details', {'id': product.id}) }}">View details</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
</div></div></section>{% endblock %}
