{% extends 'base.html.twig' %}

{% block title %}
    {{ products.name }}
{% endblock %}

{% block body %}
    <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ asset('uploads/images/' ~ products.image) }}" alt="Product Image" /></div>
                    <div class="col-md-6">
                        {% if products.discount != null %}
                        <div class="small mb-1">SKU: BST-498{{ products.discount}}%</div>
                        {% endif %}
                        <h1 class="display-5 fw-bolder">{{ products.name|length > 20 ? products.name|slice(0, 20) ~ '...' : products.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">{{ products.price }}€</span>
                        </div>
                        <p class="lead">{{ products.name }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />

                            <!-- ADD PRODUCT TO CART -->
                            <a class="btn btn-outline-dark mt-auto" href="{{ path('app_cart_add', {'id': products.id}) }}">Add to cart</a>

                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}