{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <h1>Product List</h1>

    <div class="row">
        {% for product in pagination %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Product Image" style="object-fit: cover; width: 100%; height: 300px;"/>
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price -->
                            {% if product.discount %}
                                <!-- Display the original price crossed out -->
                                {% set originalPrice = product.price / (1 - product.discount / 100) %}
                                <span style="text-decoration: line-through;">{{ originalPrice|number_format(2, '.', ' ') }} €</span>
                                <br><span class="text-danger">-{{ product.discount|number_format(0, '.', ' ') }}%</span>
                            {% endif %}
                            <!-- Display the price after reduction -->
                            <br><span>{{ product.price|number_format(2, '.', ' ') }} €</span>
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_details', {'id': product.id}) }}">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Display pagination links #}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}
